{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'profile_edit' request.user.username %}">Edit my profile</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<h2>Activity feed:</h2>
<div class="container">
    <div class="row">
        <table class="table table-bordered" style="">
            <tr>
                <td>
                    <ul>
                        {% for activity in activities %}

                        {% if activity.post.id %}
                        <li><a href="{% url 'profile' activity.user.username %}">{{ activity.user.username }}</a>
                            {{ activity.verb }}
                            <a href="{% url 'my_post' activity.post.id %}">{{ activity.post.id }}</a></li>

                        {% elif activity.post.liked %}
                        <li><a href="{% url 'profile' activity.user.username %}">{{ activity.user.username }}</a>
                            {{ activity.verb }}
                            <a href="{% url 'my_post' activity.post.liked %}">{{ activity.post.liked }}</a></li>

                        {% elif activity.follow %}
                        <li><a href="{% url 'profile' activity.user.username %}">{{ activity.user.username }}</a>
                            {{ activity.verb }}
                            <a href="{% url 'profile' activity.follow.user.username %}">{{ activity.follow.user.username }}</a></li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}