{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'profile_edit' request.user.username %}">Edit my profile</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>

<h2>Following by {{ user.username }}</h2>

{% if followers %}
<ul>
    {% for follower in followers %}
    <li>{{ follower.user.username }}  <a href="{% url 'profile' follower.user.username %}">-->view profile</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No followers yet.</p>
{% endif %}

<hr>

<h2>Followers of {{ user.username }}</h2>

{% if following %}
<ul>
    {% for follow in following %}
    <li>{{ follow.username }}  <a href="{% url 'profile' follow.username %}">-->view profile</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Not following anyone yet.</p>
{% endif %}


{% endblock %}