{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'profile_edit' request.user.username %}">Edit my profile</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img class="card-img" src="{{ user.profile.avatar.url }}" alt="{{ avatar }}">
        </div>
        <div class="col-sm-8">
            <table class="table table-bordered" style="">
                <tr>
                    <td>
                        <h3>{{ user.username }}</h3>
                    </td>
                <tr>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ user.profile.bio }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'followers' user.username %}">Look followers</a>
                        {% if user != request.user %}
                        <form class="follow-form" data-url="{% url 'follow_profile' user.username %}" method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='follow' value="{{user.profile.id}}">
                            {% if request.user not in user.profile.following.all %}
                            <button class="btn btn-success" type='submit'>Push to follow</button>
                            {% else %}
                            <button class="btn btn-warning" type='submit'>Push to unfollow</button>
                            {% endif %}
                        </form>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'feed' %}">Activity feed</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<h2>My posts:</h2>
<div class="col-sm-8">
    <ol>
        {% for i in post %}

        <li>
            <table class="table table-bordered" style="">
                <tr>
                    <td>
                        {{ i.datetime }}
                    </td>
                <tr>
                    <td>
                        {{ i.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'my_post' i.id %}">Post photos</a>
                    </td>
                </tr>

            </table>
        </li>

        {% endfor %}
    </ol>
</div>

{% endblock %}