{% extends 'djapp/base.html' %}

{% block content %}
<h1>Register</h1>
<hr>

<form action="{% url 'register' %}" method="post">
    <style>
   tr {vertical-align: top;}
    </style>
    <table>
        <tr>
            {{ form }}
        </tr>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">submit</button>
</form>
<hr>
<a>OR</a><br>
<a href="{% url 'social:begin' 'google-oauth2' %}">SIGN IN via GOOGLE</a><br>
<a href="{% url 'social:begin' 'github' %}">SIGN IN via GITHUB</a>
<hr>
{% endblock %}

